<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuniverse.front.map.XuniverseFrontMainMapper">
	<select id="getAptRealTransData" resultType="com.xuniverse.front.map.RealTransactionAptTradeVo">
<!-- 		SELECT
			TARTD .TRANSACTION_ID ,
			TARTD .APARTMENT_NAME,
			TARTD .CONSTRUCTION_YEAE ,
			TARTD .EXCLUSIVE_AREA,
			TARTD .FLOOR,
			CAST(REPLACE( TARTD .TRANSACTION_AMOUNT, ',', '') AS UNSIGNED) AS TRANSACTION_AMOUNT,
			TARTD .DEAL_YEAR,
			TARTD .DEAL_MONTH,
			TARTD .DEAL_DAY,
			TLDC .LEGAL_CITY,
			TLDC .LEGAL_DISTRICT,
			TLDC .LEGAL_DONG
		FROM XUNIVERSE.TB_APT_REAL_TRANSACTION_DETAIL TARTD
		INNER JOIN XUNIVERSE.TB_LEGAL_DONG_CODE TLDC
		ON TLDC .LEGAL_DONG_CODE = CONCAT(TARTD .LEGAL_DONG_DIVISION_CODE1,TARTD .LEGAL_DONG_DIVISION_CODE2)
		ORDER BY 11, 6
		LIMIT 0,300 -->


		SELECT
			HEX(TMRTDAT.TRANSACTION_ID) AS TRANSACTION_ID,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV3,
			TMRTDAT.HOUSE_NUMBER,
			TMRTDAT.COMPLEX_NAME,
			TMRTDAT.EXCLUSIVE_AREA,
			TMRTDAT.DEAL_YEAR_MONTH,
			TMRTDAT.DEAL_DAY,
			TMRTDAT.TRANSACTION_AMOUNT,
			TMRTDAT.FLOOR,
			TMRTDAT.CONSTRUCTION_YEAE,
			TMRTDAT.ROAD_NAME
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_TRADE TMRTDAT
		WHERE TMRTDAT .ADMINISTRATIVE_DISTRICT_LEV1 ='서울특별시'
		AND TMRTDAT .ADMINISTRATIVE_DISTRICT_LEV2 = '강남구'
		ORDER BY 10 DESC
		LIMIT 0, 300
	</select>

	<select id="getGeocode" resultType="java.util.Map">
		SELECT
			TGXA .X,
			TGXA. Y
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_TRADE TMRTDAT
		INNER JOIN XUNIVERSE.TB_GEOCODE_XY_APT TGXA
		ON TGXA .ADMINISTRATIVE_DISTRICT_LEV1 = TMRTDAT .ADMINISTRATIVE_DISTRICT_LEV1
		AND TGXA .ADMINISTRATIVE_DISTRICT_LEV2 = TMRTDAT .ADMINISTRATIVE_DISTRICT_LEV2
		AND TGXA .ADMINISTRATIVE_DISTRICT_LEV3 = TMRTDAT .ADMINISTRATIVE_DISTRICT_LEV3
		AND TGXA .ROAD_NAME = TMRTDAT .ROAD_NAME
		WHERE HEX(TMRTDAT .TRANSACTION_ID) = #{transactionId}
		AND TGXA .X IS NOT NULL
		AND TGXA .Y IS NOT NULL
	</select>

	<select id="getAllGeocode" resultType="com.xuniverse.front.map.RealTransactionAptTradeVo">
		SELECT
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV2,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV3,
			TGXA.ROAD_NAME,
			TGXA.X,
			TGXA.Y
		FROM XUNIVERSE.TB_GEOCODE_XY_APT TGXA
		WHERE TGXA .ADMINISTRATIVE_DISTRICT_LEV1 ='서울특별시'
		AND TGXA .ADMINISTRATIVE_DISTRICT_LEV2 = '강남구'
	</select>

	<select id="getMarkerPointAptTradeLev1" resultType="com.xuniverse.front.map.RealTransactionAptTradeVo">
		SELECT
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1,
			AVG(TMRTDAT.TRANSACTION_AMOUNT) AS TRANSACTION_AMOUNT
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_TRADE TMRTDAT
		GROUP BY
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1
	</select>

	<select id="getMarkerPointAptTradeLev2" resultType="com.xuniverse.front.map.RealTransactionAptTradeVo">
		SELECT
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV2,
			AVG(TMRTDAT.TRANSACTION_AMOUNT) AS TRANSACTION_AMOUNT
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_TRADE TMRTDAT
		WHERE TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV2
	</select>

	<select id="getMarkerPointAptTradeLev3" resultType="com.xuniverse.front.map.RealTransactionAptTradeVo">
		SELECT
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV3,
			AVG(TMRTDAT.TRANSACTION_AMOUNT) AS TRANSACTION_AMOUNT
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_TRADE TMRTDAT
		WHERE TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV3
	</select>

	<select id="getMarkerPointAptTradeLev4" resultType="com.xuniverse.front.map.RealTransactionAptTradeVo">
		SELECT
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV3,
			TMRTDAT.ROAD_NAME,
			TMRTDAT.COMPLEX_NAME,
			AVG(TMRTDAT.EXCLUSIVE_AREA ) AS EXCLUSIVE_AREA,
			AVG(TMRTDAT.TRANSACTION_AMOUNT) AS TRANSACTION_AMOUNT
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_TRADE TMRTDAT
		WHERE TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAT.ADMINISTRATIVE_DISTRICT_LEV3,
			TMRTDAT.ROAD_NAME,
			TMRTDAT .COMPLEX_NAME
	</select>

	<select id="getMarkerPointAptRentalLev1" resultType="com.xuniverse.front.map.RealTransactionAptRentalVo">
		SELECT
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1,
			AVG(TMRTDAR.DEPOSIT_AMOUNT) AS DEPOSIT_AMOUNT
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_RENTAL TMRTDAR
		WHERE TMRTDAR.RENTAL_DIVISION ='전세'
		AND TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1
	</select>

	<select id="getMarkerPointAptRentalLev2" resultType="com.xuniverse.front.map.RealTransactionAptRentalVo">
		SELECT
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV2,
			AVG(TMRTDAR.DEPOSIT_AMOUNT) AS DEPOSIT_AMOUNT
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_RENTAL TMRTDAR
		WHERE TMRTDAR.RENTAL_DIVISION ='전세'
		AND TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV2
	</select>

	<select id="getMarkerPointAptRentalLev3" resultType="com.xuniverse.front.map.RealTransactionAptRentalVo">
		SELECT
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV3,
			AVG(TMRTDAR.DEPOSIT_AMOUNT) AS DEPOSIT_AMOUNT
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_RENTAL TMRTDAR
		WHERE TMRTDAR.RENTAL_DIVISION ='전세'
		AND TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV3
	</select>

	<select id="getMarkerPointAptRentalLev4" resultType="com.xuniverse.front.map.RealTransactionAptRentalVo">
		SELECT
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV3,
			TMRTDAR.ROAD_NAME,
			TMRTDAR.COMPLEX_NAME,
			AVG(TMRTDAR.EXCLUSIVE_AREA ) AS EXCLUSIVE_AREA,
			AVG(TMRTDAR.DEPOSIT_AMOUNT) AS DEPOSIT_AMOUNT
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_RENTAL TMRTDAR
		WHERE TMRTDAR.RENTAL_DIVISION ='전세'
		AND TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV1,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV2,
			TMRTDAR.ADMINISTRATIVE_DISTRICT_LEV3,
			TMRTDAR.ROAD_NAME,
			TMRTDAR.COMPLEX_NAME
	</select>

	<select id="getGeocodeLev1" resultType="com.xuniverse.commons.GeocodeXyVo">
		SELECT
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1,
			AVG(TGXA.X) AS X,
			AVG(TGXA.Y) AS Y
		FROM XUNIVERSE.TB_GEOCODE_XY_APT TGXA
		GROUP BY
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1
	</select>

	<select id="getGeocodeLev2" resultType="com.xuniverse.commons.GeocodeXyVo">
		SELECT
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV2,
			AVG(TGXA.X) AS X,
			AVG(TGXA.Y) AS Y
		FROM XUNIVERSE.TB_GEOCODE_XY_APT TGXA
		WHERE TGXA.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV2
	</select>

	<select id="getGeocodeLev3" resultType="com.xuniverse.commons.GeocodeXyVo">
		SELECT
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV2,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV3,
			AVG(TGXA.X) AS X,
			AVG(TGXA.Y) AS Y
		FROM XUNIVERSE.TB_GEOCODE_XY_APT TGXA
		WHERE TGXA.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV2,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV3
	</select>

	<select id="getGeocodeLev4" resultType="com.xuniverse.commons.GeocodeXyVo">
		SELECT
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV2,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV3,
			TGXA.ROAD_NAME,
			AVG(TGXA.X) AS X,
			AVG(TGXA.Y) AS Y
		FROM XUNIVERSE.TB_GEOCODE_XY_APT TGXA
		WHERE TGXA.ADMINISTRATIVE_DISTRICT_LEV1 = '서울특별시'
		GROUP BY
			TGXA.ADMINISTRATIVE_DISTRICT_LEV1,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV2,
			TGXA.ADMINISTRATIVE_DISTRICT_LEV3,
			TGXA.ROAD_NAME
	</select>

	<select id="getMarkerDetail" resultType="com.xuniverse.front.map.RealTransactionAptTradeVo">
		SELECT
			HEX(TMRTDAT.TRANSACTION_ID) AS TRANSACTION_ID,
			TMRTDAT.EXCLUSIVE_AREA,
			TMRTDAT.DEAL_YEAR_MONTH,
			TMRTDAT.DEAL_DAY,
			TMRTDAT.TRANSACTION_AMOUNT,
			TMRTDAT.FLOOR,
			TMRTDAT.CONSTRUCTION_YEAE
		FROM XUNIVERSE.TB_MOL_REAL_TRANSACTION_DATA_APT_TRADE TMRTDAT
		WHERE TMRTDAT .ADMINISTRATIVE_DISTRICT_LEV1 = #{administrativeDistrictLev1}
		AND TMRTDAT .ADMINISTRATIVE_DISTRICT_LEV2 = #{administrativeDistrictLev2}
		AND TMRTDAT .ADMINISTRATIVE_DISTRICT_LEV3 = #{administrativeDistrictLev3}
		AND TMRTDAT .ROAD_NAME = #{roadName}
		AND TMRTDAT .COMPLEX_NAME = #{complexName}
		ORDER BY
			TMRTDAT .DEAL_YEAR_MONTH DESC ,
			CAST(TMRTDAT .DEAL_DAY AS UNSIGNED) DESC
	</select>
</mapper>
